
<div class="listcontainer" id="list_container_<%= list.id %>">
  <div class="list-title">

    <%= link_to list.name, "#panel#{list.id}", :class =>'list_name', id: "list_#{list.id}" %>   
    <%= render 'buttons', :list => list %>

  </div>
  <div class="placecontainer">
    <ul class="places" id="panel<%= list.id%>">
      <% list.places.each do |place|  %>
        <li class="place"> 
          <%= link_to place.name, list_place_path(:list_id => list.id, :id => place.id),  data: {url: "(#{place.lat},#{place.long})"}, id: "place_#{place.id}" %>
          <!-- DELETE -->
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  list_place_path(:list_id => list.id, :id => place.id), method: :delete, :class => 'pull-right', id: "delete_place_#{place.id}", remote: true  %>
        </li>
        
        <!-- AJAX for block -->
          <script type="text/javascript">
            // DELETE PLACE
            $('#delete_place_<%= place.id %>').click(function(e) {
              e.preventDefault();
              var answer = confirm ("Are you sure you want to this place?");
              var that = $(this);
              if (answer) {
                $.ajax({
                  type: "delete", // method
                  url: "/lists/" + <%= list.id %> + "/places/" + <%= place.id %>,
                  type: "post",
                  dataType: "json",
                  data: {"_method":"delete"},
                  success: function(response){  
                    that.parent().hide().remove();
                  }
                })
              }
            });

            // SHOW ACTIONS ON HOVER
            $('.pull-right').hide();
            $('.place, .list-title').on({
              'mouseenter': function(){
                $(this).find('.pull-right').show();
              },
              'mouseleave' : function(){
                $(this).find('.pull-right').hide();  
              }
            });
          </script>

      <% end %>  
    </ul>
  </div>
</div>

      

