<h3 class="inline-block"> Recommendations </h3> <p class="tiny"> Hide</p>
<div class="recommendations">  
  <% @recommendations.each do |basis, lists_hash|  %>
    <% lists_hash.each do |list, recs| %>
        <ul>
          <% recs.each do |place| %>
            <li class="rec-container">
              
              <!-- move some logic to the model -->
              <!-- add a link to the place to show it on the map? -->

              <div class="square-container">
                <% if place.photos.length > 0 %>
                  <img src=<%= place.photos[0].url %> class="rec">
                <% end %>
                <div class="hover-actions">
                  <div class="white icon"> x </div>
                  <div class="button-group">
                    <a href="#" class="button tiny outline-button block"> View details </a>
                    <a href="#" class="button tiny outline-button block" data-reveal-id="add_to_list"  > Add to list </a>
                  </div>
                </div>
              </div>
              <p class="listing-title center"><%= place.name %> </p>
              <p class="listing-detail center">(based on <%= basis %>)</p>
            </li> 

            <!-- THIS MODAL SHOWS WHEN U CLICK ADD TO LIST -->
            <div id="add_to_list" class="reveal-modal tiny" data-reveal>
              <h3>Add '<%= place.name %>' to:</h3>
              
                <div class="row">
                  <div class="large-12 columns">
                      <select>
                         <% @lists.each do |list| %>
                          <option value="husker"> <%= list.name %></option>
                        <% end %>
                        
                      </select>
                    </label>
                  </div>
                </div>
              
              <a class="close-reveal-modal">&#215;</a>
            </div>  
          <% end %>  
        </ul>
    <% end %>
  <% end %>
</div>  

