<% if user_signed_in? %>
  <div class="container">
    <%= render 'recommendations' %>

  <div id="filters">
    <h3 class="inline-block"> LISTS </h3>  <p class="tiny selected margin-after" id="view"> Hide</p>
      <ul class="filters inline-block">
        <h3 class="inline-block">  </h3>
        <li class="selected">All</li>
        <% @lists.each do |list| %>
          <li class="selected"><%= list.name %></li>
        <% end %>
      </ul>
  </div> 
  </div>
  <div class="listview">
    <div class="sidenav">
      <p>
        <button class="command"><%= link_to '+ Create New List',new_list_path, id: 'new_link', remote: true  %> </button>
      </p>
      <%= render @lists %>
    </div>
  </div>

<!-- INFOWINDOW -->
    <div class="hidden">
    <% @lists.each do |list| %>
      <% list.places.each do |place| %>
        <div id="tooltip_<%= place.id %>" class="infowindow">
          <div class="pull-left"> 
            <p class="listing-title"><%= place.name %> &nbsp (
              <% place.price_level.to_i.times do |i| %>
                <%= "<i class='fa fa-usd inline'></i>".html_safe %>
              <% end %>
              )
            </p>
            <div class="listing-detail">
              <p> <%= place.rating %> stars</p>
              <p> <%= place.address %> </p>
              <p><i class="fa fa-phone"></i> &nbsp <%= place.phone %> </p>
              <a href=<%= place.website%> target="_blank"><p> <i class="fa fa-external-link"></i> <%= place.website %> </p></a>
            </div>
          </div>
          <div class="pull-right">
            <% if place.photos.length > 0 %>
              <div class="thumb-container">
                <img src=<%= place.photos[0].url %> class="thumb">
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
<div id="map-canvas" ></div>
<%= javascript_include_tag "places" %>

<% else %>
  <%= render 'welcome' %>
  <%#= link_to 'Start adding some places', new_list_path %>
<% end %>
 

