<% if user_signed_in? %>
  
  <li id="view">View List</li>
  
  <div class="container">
    <h3> Recommendations </h3>
    <div class="recommendations">  
      <% @recommendations.each do |basis, lists_hash|  %>
        <% lists_hash.each do |list, recs| %>
            <ul>
              <% recs.each do |place| %>
                <li class="rec-container">
                  <!-- move some logic to the model -->
                  <!-- add a link to the place to show it on the map -->
                  <img src=<%= place.photos[0].url %> class="rec">
                  <p class="listing-title"><%= place.name %> </p>
                  <p class="listing-detail">(based on <%= basis %>)</p>
                </li> 
              <% end %>  
            </ul>
        <% end %>
      <% end %>
      
    </div>   
  </div>


  <div id="filters">
    
    <ul class="filters">
      <h3> FILTERS: </h3>
      <li class="selected">All</li>
      <% @lists.each do |list| %>
        <li class="selected"><%= list.name %></li>
      <% end %>
    </ul>
  </div> 
    
  <div class="listview">
    <div class="sidenav">
      <p>
        <button class="command"><%= link_to '+ Create New List',new_list_path, id: 'new_link', remote: true  %> </button>
      </p>
      <%= render @lists %>
    </div>
  </div>

    <div class="hidden">
    <% @lists.each do |list| %>
      <% list.places.each do |place| %>
        <div id="tooltip_<%= place.id %>" class="infowindow">
          <div class="pull-left"> 
            <p class="listing-title"><%= place.name %> &nbsp (
              <% place.price_level.to_i.times do |i| %>
                <%= "<i class='fa fa-usd inline'></i>".html_safe %>
              <% end %>
              )
            </p>
            <div class="listing-detail">
              <p> <%= place.rating %> stars</p>
              <p> <%= place.address %> </p>
              <p><i class="fa fa-phone"></i> &nbsp <%= place.phone %> </p>
              <a href=<%= place.website%> target="_blank"><p> <i class="fa fa-external-link"></i> <%= place.website %> </p></a>
            </div>
          </div>
          <div class="pull-right">
            <% if place.photos.length > 0 %>
              <img src=<%= place.photos[0].url %> class="thumb">
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
<div id="map-canvas" ></div>
<%= javascript_include_tag "places" %>



 



<% else %>
  <%= render 'welcome' %>
  <%#= link_to 'Start adding some places', new_list_path %>
<% end %>
 

