<% if user_signed_in? %>

  <div class="container">
    
    <%= render 'recommendations' %>
  
    <!-- STICKY NAV OF FILTERS -->
    <!-- <div data-magellan-expedition="fixed" class="stickynav"> -->
        <div id="filters">
          <h3 class="inline-block"> LISTS </h3>  <p class="tiny selected margin-after" id="view">Hide</p>
            <ul class="filters inline-block">
              
              <li class="selected">All</li>
                <% @lists.each do |list| %>
                  <li class="selected"><%= list.name %></li>
                <% end %>
            </ul>
        </div> 
    <!-- </div> -->
  </div>
  
  <!-- SIDENAV -->
  <div class="listview">
    <div id="hidden-form"></div>
    <div class="sidenav">
      <!-- <p> -->
        <%= link_to 'Create New List',new_list_path, id: 'new_link', remote: true, class: "button button-special"  %> 
      <!-- </p> -->
      <div class="lists">
        <%= render @lists %>
      </div>
    </div>
  </div>

  <!-- INFOWINDOW -->
    <div class="hidden">
    <% @lists.each do |list| %>
      <% list.places.each do |place| %>
        <div id="tooltip_<%= place.id %>" class="infowindow">
          <!-- <div class="pull-left">  -->
            <p class="listing-title-map"><%= place.name %> <br>
             <span class="small"> <%= ("$"* place.price_level.to_i) %> | <%= ("\u2605"* place.rating.to_i) %> | <%= link_to 'Website', place.website %> </span>
            </p>
            <% if place.photos.length > 0 %>
              <div class="thumb-container">
                <img src=<%= place.photos[0].url %> class="thumb">
              </div>
            <% end %>
            <div class="listing-detail">
              <!-- <p> <%#= place.rating %> stars</p> -->
             <!--  <p class="tiny"> <%#= place.address %> </p>
              <p class="tiny"><i class="fa fa-phone"></i> &nbsp <%#= place.phone %> </p>
              <a href=<%#= place.website%> target="_blank"><p class="tiny"> <i class="fa fa-external-link"></i> <%#= place.website %> </p></a> -->
            </div>
        </div>
        <!-- SHOW PLACE MODAL -->
        <div id="show_<%= place.id %>" class="reveal-modal medium" data-reveal>
          <h3><%= place.name %></h3>
          <div class="row">
            <div class="large-12 columns">
              <% if place.photos.length > 0 %> <% photos = place.photos.map {|photo| photo.url } %>
                <div class="largephoto-container img scrubber">
                  <img src=<%= place.photos[0].url %> class="large">
                  <div class="photoarray" data-photos= "<%=photos %>">  </div>
                  <div class="details">
                    <div class="wrap">
                    <!-- name of the place -->
                    <a class="artist" href="#"></a> 
                    <%= "#{place.photos.length} photos" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div> 
      <% end %>
    <% end %>
  </div>

  <div id="map-canvas" ></div>
    
<%= javascript_include_tag "map" %>

<% else %>
  <%= render 'welcome' %>
<% end %>

