<%= form_for([@list, @place]) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- INPUT FIELD -->
    <%= f.text_field :name, :class=>"controls", :type=>"text", :id=>"pac-input", :placeholder=>"Enter a location" %>
    
    <!-- GOOGLE INFO FIELDS--> 
    <%= f.hidden_field :placeid, id:"placeid" %>
    <%= f.hidden_field :name, id:"name" %>
    <%= f.hidden_field :lat, id:"latitude" %>
    <%= f.hidden_field :long, id:"longitude" %>
    <%= f.hidden_field :phone, id:"phone" %> 
    <%= f.hidden_field :address, id:"address" %>
    <%= f.hidden_field :city, id:"city" %> 
    <%= f.hidden_field :state, id:"state" %> 
    <%= f.hidden_field :postal, id:"postal" %> 
    <%= f.hidden_field :country, id:"country" %> 
    <%#= f.hidden_field :website, id:"website" %> 


  </div>
  <div class="actions">
    <%= f.submit "Add Place", :class=>"pac-container", :id=>"place-submit"%>
  </div>
<% end %>

<!-- GOOGLE MAP -->
<!-- <div id="type-selector" class="controls">
  <input type="radio" name="type" id="changetype-establishment" checked="checked">
</div> -->
<div id="map-canvas"></div>

<%= javascript_include_tag "google" %>
