<%= form_for([@list, @place]) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class=>"controls", :type=>"text", :id=>"pac-input", :placeholder=>"Enter a location" %>

    <%= f.fields_for :places do |place| %>
          <%= place.text_field :latitude, class: "lat", id:"latitude" %>
          <%= place.text_field :longitude, class: "long", id:"longitude" %>
          <%= place.text_field :address, class: "address", id:"address" %> 
          <%= place.text_field :name, class: "name" %>
      <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--  <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location"> -->
    <div id="type-selector" class="controls">
     
      <input type="radio" name="type" id="changetype-establishment" checked="checked">
      <label for="changetype-establishment">Establishments</label>

    </div>
    <div id="map-canvas"></div>
