<h1><%= "Listing places for #{@list.name}" %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= @list.name %></td>
    <td><%= link_to 'Show', list_place_path(:list_id => @list.id, :id => place.id) %></td>
    <td><%= link_to 'Edit', edit_list_place_path(:list_id => @list.id, :id => place.id) %></td>
    <td><%= link_to 'Destroy', list_place_path(:list_id => @list.id, :id => place.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_list_place_path %> | 
<%= link_to 'Back', lists_path %>
