<p id="notice"><%= notice %></p>

<p>
  
  <%= @place.placeid %><br/>
  <%= @place.name %><br/>
  <%= @place.lat %><br/>
  <%= @place.long %><br/>
  <%= @place.phone %><br/>
  <%= @place.address %><br/>
  <%= @place.city %><br/>
  <%= @place.state %><br/>
  <%= @place.postal %><br/>
  <%= @place.country %>
</p>


<%= link_to 'Edit', edit_list_place_path(@place) %> |
<%= link_to 'Back', list_places_path %>
