<!DOCTYPE html>
<html>
  <head>
    <title>Myfavplaces</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
     <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <%= javascript_include_tag "application" %>

  </body>
</html>
