<!DOCTYPE html>
<html>
  <head>
    <title>localist</title>
    <%= include_gon %>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700,800|Jura:400,300|Glegoo|PT+Serif+Caption|Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <%= javascript_include_tag "application" %>


    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
    
    <% if user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
